// @import "@material/card/mdc-card";
// @import "@material/textfield/mdc-text-field";
@import "material-components-vue/dist/card/styles";
@import "material-components-vue/dist/button/styles";
@import "material-components-vue/dist/textfield/styles";
@import "material-components-vue/dist/floating-label/styles";
@import "material-components-vue/dist/line-ripple/styles";
@import "./assets/icomoon/style";

.example-form {
  width: 400px;
  margin: 0 auto;

  .txt {
    color: #ff0000;
  }

  .logo {
    background-image: url("./assets/images/fake-logo.png");
    height: 300px;
    width: 400px;
  }
}